@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .sticky_header {
    @apply bg-[#fdede4] shadow-md sticky h-fit top-0 w-full;
  }
}
* {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
  font-style: normal;
}
